@import url('http://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 9%;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}


.element-widget-container {
    /*background-color: aqua;*/
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 1% 2%;
}

.elements-page {
    padding: 5% 9%;
    border: darkred 2px solid;
}

.logo {
    position: relative;
    font-size: 30px;
    color: #1a1b1e;
    text-decoration: none;
    font-weight: 600;
}

.element-widget-container .main-navigation {
    padding: 1px 120px;
}

.main-navigation > ul > li {
    margin: 0px 25px;
    padding: 0px 0px;
    float: left;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    height: 100%;
}

.main-navigation ul > li > a {
    display: inline-block;
    padding: 32px 0px;
    line-height: 35px;
    text-decoration: none;
    text-align: center;
    outline: none;
    color: #1a1b1e;
    white-space: nowrap;
}

section {
    /*background-color: yellowgreen;*/
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.element-main-page{
    display: flex;
    align-items: center;
    padding: 0 10%;
    border: red 2px solid;
}

.element-section .element-main-page > .element-background-overlay {
    background-image: url("h-tx_2.PNG");
    background-position: 100% 164px;
    background-repeat: no-repeat;
    opacity: 1;
    z-index: 1;
}
.element-background-overlay{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.home-title {
    background-color: bisque;
    max-width: 600px;
}

.home-title-container {
    border: orange 2px solid;
    max-width: 60rem;
    padding: 2% 6%;
    /*z-index: 99;*/
}

.home-title-container .element-home-title {
    position: relative;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 1.3;
    background-color: white;
}

.home-title-container .element-home-describe {
    background-color:cadetblue;
}

.home-button {
    position: relative;
    width: 29rem;
    height: 5rem;
}

.home-button .home-button-about {
    display: inline-block;
    line-height: 1;
    background-color: #69727d;
    font-size: 16px;
    padding: 15px 26px;
    border-radius: 10px;
    color: #fff;
    fill: #fff;
    text-align: center;
}

.home-button-about span{
    text-decoration: inherit;
}

.home-button-content {
    display: flex;
    justify-content: center;
}

.home-button-text {
    flex-grow: 1;
    order: 10;
    display: inline-block;
}

/*PORTFOLIO SECTION*/
.portfolio-title {
    padding: 1px 1px;
    border: cornflowerblue 2px solid;
}

.portfolio-container {
    border: orange 2px solid;
}

.portfolio-title-element {
    background-color: bisque;
    font-size: 50px;
    font-weight: normal;
}

.portfolio-container section {
    min-height: auto;
    padding: 1rem 6% 1rem;
    margin-left: 1%;
    margin-right: 1%;
}

.portfolio-elements {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.portfolio-boxes {
    border: black 2px solid;
    background-color: white;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2px 2px;
}

.portfolio-box {
    border: #1a1b1e 2px solid;
    width: 322px;
    height: 154px;
    display: flex;
    justify-content: space-around;
}

.portfolio-button {
    border: red 2px solid;
    position: relative;
    text-align: right;
}

.portfolio-button-more {
    display: inline-block;
    font-size: 15px;
    padding: 15px 26px;
    color: black;
    text-align: center;
}

.portfolio-button-content {
    display: flex;
    justify-content: center;
    background-color: goldenrod;
}

.portfolio-button-icon {
    width: auto;
    height: auto;
    order: 15;
}
.portfolio-button-icon i {
    font-size: 1.6rem;
}

.portfolio-button-text {
    flex-grow: 1;
    order: 10;
    display: inline-block;
}

/*OFFER SECTION*/
.offer-title {
    padding: 1px 1px;
    border: cornflowerblue 2px solid;
}

.offer-container {
    border: orange 2px solid;
}

.offer-title-element {
    background-color: bisque;
    font-size: 50px;
    font-weight: normal;
}

.offer-container section {
    min-height: auto;
    padding: 1rem 6% 1rem;
    margin-left: 1%;
    margin-right: 1%;
}

.offer-elements {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.offer-boxes {
    border: black 2px solid;
    background-color: white;
    position: relative;
    width: 25rem;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer-button {
    border: red 2px solid;
    position: relative;
    text-align: right;
}
.offer-button-more {
    display: inline-block;
    font-size: 15px;
    padding: 15px 26px;
    color: black;
    text-align: center;
}

.offer-button-content {
    display: flex;
    justify-content: center;
    /*background-color: goldenrod;*/
}

.offer-button-icon {
    width: auto;
    height: auto;
    order: 15;
}
.offer-button-icon i {
    font-size: 1.6rem;
}

.offer-button-text {
    flex-grow: 1;
    order: 10;
    display: inline-block;
}

/*ABOUT SECTION*/
.about-title {
    padding: 1px 1px;
    border: cornflowerblue 2px solid;
}

.about-container {
    border: orange 2px solid;
}

.about-title-element {
    background-color: bisque;
    font-size: 50px;
    font-weight: normal;
}

.about-container section {
    min-height: auto;
    padding: 1rem 6% 1rem;
    margin-left: 1%;
    margin-right: 1%;
    justify-content: center;
}

.about-elements {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.about-boxes {
    border: black 2px solid;
    background-color: white;
    position: relative;
    width: 25rem;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-button {
    border: red 2px solid;
    position: relative;
    text-align: right;
}
.about-button-more {
    display: inline-block;
    font-size: 15px;
    padding: 15px 26px;
    color: black;
    text-align: center;
}

.about-button-content {
    display: flex;
    justify-content: center;
    /*background-color: goldenrod;*/
}

.about-button-icon {
    width: auto;
    height: auto;
    order: 15;
}
.about-button-icon i {
    font-size: 1.6rem;
}

.about-button-text {
    flex-grow: 1;
    order: 10;
    display: inline-block;
}+

/*CONTACT SECTION*/
.contact-title {
    padding: 1px 1px;
    border: cornflowerblue 2px solid;
}

.contact-container {
    border: orange 2px solid;
}

.contact-container section {
    min-height: auto;
    padding: 1rem 6% 1rem;
    margin-left: 1%;
    margin-right: 1%;
    justify-content: center;
}


.contact-title-element {
    background-color: bisque;
    font-size: 50px;
    font-weight: normal;
}

.contact-elements {
    min-height: auto;
    padding-bottom: 7rem;
}

.contact-elements form {
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
    /*background-color: rosybrown;*/
}

.contact-elements form .contact-input-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2px 59px;
}

.contact-elements form .contact-input-box .contact-input-field {
    position: relative;
    width: 49%;
    margin: 0.8rem 5px;
}

.contact-elements form .contact-input-box .contact-input-field input,
.contact-elements form .contact-textarea-field textarea{
    width: 80%;
    height: 85%;
    padding: 1.2rem;
    font-size: 1.05rem;
    border-radius: 0.6rem;
    border: 2px solid black;
}

.contact-elements form .contact-textarea-field {
    position: relative;
    margin: 0.8rem 0 2.7rem;
    display: flex;
    flex-direction: column;
}

.contact-elements form textarea {
    resize: none;
}

.contact-button {
    background-color: aqua;
    position: relative;
    width: 10rem;
    height: 3rem;
    display: inline-block;
}

.contact-button .contact-button-about {
    display: inline-block;
    line-height: 1;
    background-color: #69727d;
    font-size: 18px;
    padding: 15px 29px;
    border-radius: 10px;
    color: #fff;
    fill: #fff;
    text-align: center;
}

.contact-button-about span{
    text-decoration: inherit;
}

.contact-button-content {
    display: flex;
    justify-content: center;
}

.contact-button-text {
    flex-grow: 1;
    order: 10;
    display: inline-block;
}


/*FOOTER*/

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
}

.site-footer {
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
    /*flex-wrap: nowrap;*/
    /*flex-direction: column;*/
    padding: 2rem 11%;
    /*background: yellow;*/
    min-height: auto;
    border-style: solid;
    border-width: 3px 0px 0px 0px;
    border-color: #354D9B;
}

.footer-class section{
        min-height: auto;
        padding: 1rem 1% 1rem;
        margin-left: 1%;
        margin-right: 1%;
        justify-content: center;
}

.footer-class {
    /*position: relative;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /*background-color: darkgray;*/
}

.footer-element {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    width: auto;
    height: auto;
}

.element-footer-container {
    width: 365px;
    /*border: black 2px solid;*/
    /*background-color: white;*/
    position: relative;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.footer-column {
    position: relative;
    min-height: 1px;
}

.footer-widget-wrap {
    /*border: orange 2px solid;*/
    position: relative;
    width: 100%;
    align-content: flex-start;
    height: 215px;
}

.footer-laws .footer-iconTop {
    position: relative;
}

.footer-laws {
    /*border: darkmagenta 2px solid;*/
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-laws a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background: transparent;
    border: 0.12rem solid darkblue;
    border-radius: 50%;
    font-size: 15px;
}

.footer-iconTop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    /*background: var(--main-color);*/
    border: 0.2rem solid white;
    border-radius: 0.6rem;
    z-index: 1;
    overflow: hidden;
}

.footer-iconTop a i {
    font-size: 2rem;

}