@import url('http://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Spartan", sans-serif;
    /*font-family: 'open-sans', serif;*/
    /*font-family: 'Inter', "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-size: 18px;
    text-align: justify;  /*justowanie tekstu*/

}

.header {
    position: sticky;
    top: 0;
    width: 100%;
    background: white;
    z-index: 100;
    transition: .3s;
}

.header.sticky {
    background: white;
}

#menu-icon {
    position: relative;
    font-size: 3.6rem;
    color: black;
    cursor: pointer;
    display: none;
}


.site-header {
    margin: 0 auto;
    max-width: 1440px;
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
    padding: 1rem 15px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color:inherit;
    /*font-size: 22px;*/
}

.header-content a {
    font-size: 20px;
}


.hamburger {
    color: #1a1b1e;
    display: none;
    cursor: pointer;
}

.bar {
    height: 2px;
    width: 27px;
    background: black;
    margin: 5px 0;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}

.main-navigation--open {
    transform: translate(0) !important;
}

.hamburger--open .bar:nth-child(1){
    transform: translateY(7px) rotate(45deg);
}
.hamburger--open .bar:nth-child(2){
    opacity: 0;
}
.hamburger--open .bar:nth-child(3){
    transform: translateY(-7px) rotate(-45deg);
}

.element-widget-container {
    position: relative;
    /*display: flex;*/
    flex-wrap: wrap;
    align-content: flex-start;
    /*padding: 5px 30px;*/
}


.logo img {
    max-width: 220px;
    max-height: 220px;
}

.main-navigation {
    transition: all 0.3s ease-in-out;
}

.main-navigation > ul > li {
    margin: 0px 25px;
    padding: 0px 0px;
    float: left;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    height: 100%;
}

.main-navigation ul > li > a {
    display: inline-block;
    padding: 32px 0px;
    line-height: 35px;
    text-decoration: none;
    text-align: center;
    outline: none;
    color: #1a1b1e;
    white-space: nowrap;
    transition: .3s;
}

.main-navigation ul li.nav-item.active a{
    color: #b47c28;
    font-weight: bold;
}


.main-navigation ul>li>a:hover {
    color: #b47c28;
    font-weight: bold;
}

.element-section .element-main-page {
    /*background-color: yellowgreen;*/
    min-height: 80vh;
    padding: 10px 10px 10px 10px;
}

/*MAIN PAGE*/

.element-main-page{
    margin: 0 auto;
    max-width: 1440px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.home-title {
    /*background-color: bisque;*/
    max-width: 600px;
}

.home-img {
    background-image: url(../images/h-tx_2.PNG);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
    height: 100%;
    width: 100%;
    margin: 0;
    text-align: right;
}

.home-title-container {
    /*border: orange 2px solid;*/
    max-width: 60rem;
    padding: 10px 15px;
    /*z-index: 99;*/
}

.home-title-container .element-home-title {
    position: relative;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 1.3;
    /*background-color: white;*/
}

.home-button {
    position: relative;
    width: 29rem;
    height: 5rem;
}

.home-button .home-button-about {
    display: inline-block;
    line-height: 1;
    background-color: #b47c28;
    font-size: 16px;
    padding: 15px 26px;
    border-radius: 10px;
    color: #fff;
    fill: #fff;
    text-align: center;
}

.home-button-about span{
    text-decoration: inherit;
}

.home-button-content {
    display: flex;
    justify-content: center;
}

.home-button-text {
    flex-grow: 1;
    order: 10;
    display: inline-block;
}

/*CORPORATE ELEMENTS*/

.elements-page {
    padding: 10px 15px;
    /*border: darkred 2px solid;*/
    margin: 0 auto;
    max-width: 1440px;
}

.elements-page-title {
    /*border: cornflowerblue 2px solid;*/
}

.elements-page-container {
    /*border: orange 2px solid;*/
    padding: 5px 0px 5px 0px;
}

.elements-page-container section {
    min-height: auto;
    padding: 50px 0px 50px 0px;
    /*border: 1px solid violet;*/
    /*margin-left: 1%;*/
    /*margin-right: 1%;*/
}

.title-element {
    /*background-color: bisque;*/
    font-size: 50px;
    font-weight: normal;
}

.page-button {
    /*border: red 2px solid;*/
    position: relative;
    text-align: right;
}

.page-button-more {
    display: inline-block;
    font-size: 15px;
    padding: 15px 26px;
    color: black;
    text-align: center;
}

.page-button-content {
    display: flex;
    justify-content: center;
    /*background-color: goldenrod;*/
}

.page-button-icon {
    width: auto;
    height: auto;
    order: 15;
}

.page-button-icon i {
    font-size: 1.6rem;
}

.page-button-text {
    flex-grow: 1;
    order: 10;
    display: inline-block;
}

/*PORTFOLIO SECTION*/

.portfolio-elements {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-box {
    /*border: #1a1b1e 2px solid;*/
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}


/*OFFER SECTION*/

.offer-elements {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 44px;
}

.offer-boxes {
    border: 0.2px solid rgba(122, 104, 88, 0.07);
    box-shadow: 4px 4px 2px 1px rgba(122, 104, 88, 0.07);
    border-radius: 20px;
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 28px;
}

.offer-box {
    height: 12rem;
}

.offer-title {
    margin-bottom: 18px;
}

.offer-title h3{
    text-align: center;
    font-size: 22px;
}



/*ABOUT SECTION*/

.about-elements {
    display: flex;
    justify-content: center;
    position: relative;
}

.about-boxes {
    margin-top: 54px;
    background-color: white;
    border: 0.2px solid rgba(122, 104, 88, 0.07);
    box-shadow: 4px 4px 2px 1px rgba(122, 104, 88, 0.07);
    position: absolute;
    width: auto;
    height: auto;
    left: 16rem;
    top: -60px;
    border-radius: 30% 10%;
    /*display: flex;*/
    /*justify-content: center;*/
    /*padding: 10px;*/
}

.about-boxes-2 {
    border: 0.2px solid rgba(122, 104, 88, 0.07);
    box-shadow: 4px 4px 2px 1px rgba(122, 104, 88, 0.07);
    border-radius: 20px;
    /*position: relative;*/
    width: 38rem;
    height: auto;
    display: flex;
    justify-content: center;
    /*padding: 10px;*/
    /*margin-bottom: 15px;*/
    margin-top: 28px;
}

.about-box {
    margin: 20px;
}

.about-box  img{
    width: 12rem;
    height: 16rem;
    border-radius: 30% 10%;
}

.about-box .about-title,
.about-box .about-paragraph {
    padding-left: 10rem;
    padding-right: 2rem;

}

.about-box .about-title p {
    font-size: 20px;
    margin-bottom: 20px;
    /*text-align: left;*/
}



    /*CONTACT SECTION*/

    .contact-container section {
        min-height: auto;
        padding: 10px 10px;
        margin-left: 1%;
        margin-right: 1%;
        justify-content: center;
    }

    .contact-boxes {
        border: black 2px solid;
        /*background-color: white;*/
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
    }

    .contact-elements {
        min-height: auto;
        padding-bottom: 7rem;
    }

    .contact-elements form {
        max-width: 70rem;
        margin: 0 auto;
        text-align: center;
        /*background-color: rosybrown;*/
    }

    .contact-elements form .contact-input-box {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        padding: 2px 59px;
    }

    .contact-elements form .contact-input-box .contact-input-field {
        position: relative;
        width: 49%;
        margin: 5px;
        text-align: center;
    }

    .contact-elements form .contact-input-box .contact-input-field input,
    .contact-elements form .contact-textarea-field textarea{
        width: 100%;
        height: 100%;
        padding: 1.2rem;
        /*font-size: 1.05rem;*/
        border-radius: 0.6rem;
        border: .1rem solid black;
    }


    .contact-elements form .contact-textarea-field {
        position: relative;
        margin: 0.8rem 0 2.7rem;
        padding: 2px 64px;
        height: 14rem;
    }


    .contact-button {
        /*background-color: aqua;*/
        position: relative;
        width: 10rem;
        height: 3rem;
        display: inline-block;
    }

    .contact-button span{
        text-decoration: inherit;
    }

    .contact-button-content {
        display: flex;
        justify-content: center;
    }

    .contact-button-text {
        justify-content: center;
        background-color: #b47c28;
        flex-grow: 1;
        order: 10;
        display: inline-block;
        height: 3rem;
        border-radius: 12px;
        color: white;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
    }


    /*FOOTER*/

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 2rem 9px;
    }

    .site-footer {
        padding-top: 8px;
        /*background: yellow;*/
        min-height: auto;
        border-style: solid;
        border-width: 3px 0px 0px 0px;
        border-color: #b47c28;
    }

    .footer-class section{
        min-height: auto;
        padding: 1rem 0px 1rem;
        margin-left: 1%;
        margin-right: 1%;
        justify-content: center;
    }

    .footer-class {
        margin: 0 auto;
        max-width: 1440px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        /*background-color: darkgray;*/

    }

    .footer-element {
        display: flex;
        margin-right: auto;
        margin-left: auto;
        position: relative;
        width: auto;
        height: auto;
    }

    .element-footer-container {
        width: 365px;
        /*border: black 2px solid;*/
        /*background-color: white;*/
        position: relative;
        display: inline-block;
        justify-content: center;
        align-items: center;

    }

    .footer-column {
        position: relative;
        min-height: 1px;
    }

    .footer-widget-wrap {
        /*border: orange 2px solid;*/
        position: relative;
        width: 100%;
        align-content: flex-start;
        /*height: 215px;*/
    }

    .footer-paragraph {
        line-height: 2;
    }

    .footer-laws .footer-iconTop {
        position: relative;
    }

    .footer-laws {
        /*border: darkmagenta 2px solid;*/
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 1rem ;
    }

    .footer-laws a {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 23px;
        height: 23px;
        background: transparent;
        border: 0.12rem solid #283bb4;
        border-radius: 50%;
        font-size: 11px;
    }

    .footer-text p{
        font-size: 11px;
    }

    .footer-media i {
        font-size: 0.8rem;
    }

    .footer-iconTop a {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 0.3rem;
        border: 0.1rem solid #b47c28;
        border-radius: 0.6rem;
        z-index: 1;
        overflow: hidden;
    }

    .footer-iconTop a i {
        font-size: 2rem;

    }

    .bx-up-arrow-alt {
        color: #b47c28;
    }


    /*Different page sections*/
    .page-2-title {
        margin-top: 40px;
        padding: 1px 1px;
        /*border: cornflowerblue 2px solid;*/
    }

    .page-2-boxes {
        /*border: black 2px solid;*/
        /*background-color: white;*/
        position: relative;
        width: 25rem;
        height: auto;
        display: flex;
        /*justify-content: center;*/
        /*align-items: center;*/
    }

    .pages-title-container {
        display: flex;
        align-items: center;
        /*padding-bottom: 24px;*/
    }

    .pages-title-container img {
        width: 4%;
        height: 4%;
    }


    /*CONTACT FOOTER*/
    .element-section .elements-contact{
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 100px 0px 100px 0px;
    }


    .element-section .contact-footer-container > .contact-footer-heading {
        padding: 0px 0px 30px 0px;
    }

    .elements-contact {
        /*border: red 2px solid;*/
        /*padding: 0px 0px 0px 0px;*/
        min-height: 500px;
        background-image: url("../images/kien-nguyen-994AH40vmVs-unsplash.jpg");
        background-position: center center;
        background-size: cover;
    }

    .elements-contact-column {
        position: relative;
        min-height: 1px;
        display: flex;
        /*border: brown 2px solid;*/
    }

    .elements-contact-wrap {
        position: relative;
        width: 100%;
        flex-wrap: wrap;
        align-content: flex-start;
        /*border: yellow 2px solid;*/
    }

    .elements-contact-box {
        position: relative;
        /*border: pink 2px solid;*/
    }


    .contact-footer-heading h2 {
        margin-bottom: 0;
        line-height: 50px;
        text-align: center;
        font-size: 30px;
    }

    .contact-footer-container p {
        font-size: 20px;
    }

    .contact-footer-container p, .contact-footer-container .element-button-wrapper{
        text-align: center;
        padding: 10px;
    }

    .element-button {
        display: inline-block;
        line-height: 1;
        background-color: #b47c28;
        font-size: 16px;
        padding: 15px 26px;
        border-radius: 10px;
        color: #fff;
        fill: #fff;
        text-align: center;
    }

    .element-button-content {
        display: flex;
        justify-content: center;
    }

    /*PRIVACY POLICY*/

    h1.privacy-police-title {
        font-size: 44px;
        margin: 10px 0px;
    }

    p.privacy-police-paragraph {
        line-height: 1.8;
    }


