@import "_index.css";
@import "_offer.css";
@import "_contact.css";

/*BREAKPOINTS*/
@media (max-width: 1420px) {

    .offer-title-box2 {
        grid-template-columns: 1fr 1fr;
        row-gap: 44px;
        column-gap: 44px;
    }

    .offer-elements {
        grid-template-columns: 1fr 1fr;
        row-gap: 44px;
        column-gap: 44px;
    }

}

@media (max-width: 1200px) {
    html {
        font-size: 70%;
    }

    .site-header {
        padding: 10px;
    }

    .main-navigation ul > li > a {
        transition: .3s;
    }

    .site-footer {
        padding: 10px;
    }

    .about-boxes {
        left: 4%;
    }

    .about-boxes-2 {
        width: 80%;
    }


}

@media (max-width: 991px) {

    .logo img {
        max-width: 160px;
        max-height: 160px;
    }

    .header-content a {
        font-size: 16px;
    }

    .element-section .element-main-page {
        padding: 2rem 4% 2rem;
    }

    .element-section .elements-page {
        padding: 0rem 4% 0rem;
    }

    .offer-paragraph p {
        font-size: 90%;
    }

    .element-main-page {
        grid-template-columns: 1fr;
        position: relative;
    }

    .home-img {
        z-index: -1;
        position: absolute;
        opacity: 0.2;
        background-position: center;
    }

    .title-element {
        font-size: 40px;
    }

    .elements-page-container section {
        padding: 10px 0px;
    }

    .offer-title-box2 {
        grid-template-columns: 1fr;
        row-gap: 44px;
    }

    .offer-elements {
        grid-template-columns: 1fr;
        row-gap: 44px;
    }

}

@media (max-width: 769px) {
    html {
        font-size: 60%;
    }

    .header {
        padding: 2rem 4%;
    }

    .logo img {
        max-width: 160px;
        max-height: 160px;
    }

    .element-section .element-main-page {
        padding: 2rem 4% 2rem;
    }

    .element-section .elements-page {
        padding: 0rem 4% 0rem;
    }

    .title-element {
        /* background-color: bisque; */
        font-size: 30px;
    }

    .elements-page-container section {
        padding: 10px 0px;
    }

    .footer-paragraph p, .footer-paragraph a {
        font-size: 12px;
    }

    .about-boxes {
        left: 0%;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 60%;
    }

    .logo img {
        max-width: 160px;
        max-height: 160px;
    }

    .main-navigation {
        position: fixed;
        top: -6px;
        right: 0;
        bottom: 0;
        background-color: white;
        width: 50%;
        padding: 80px 0 10px;
        transform: translateX(150%);
        box-shadow: -11px 0px 3px -5px rgba(66, 68, 90, 0.12);
    }

    .menu {
        display: flex;
        flex-direction: column;
    }

    .hamburger {
        display: block;
    }

    .element-section .element-main-page {
        padding: 2rem 4% 2rem;
    }

    .element-section .elements-page {
        padding: 0rem 4% 0rem;
    }

    .title-element {
        /* background-color: bisque; */
        font-size: 30px;
    }

    .portfolio-image img {
        width: 80%;
        height: auto;
    }

    .portfolio-box-one {
        text-align: center;
    }

    .portfolio-box-one p {
        font-size: 90%;
    }

    .elements-page-container section {
        padding: 10px 0px;
    }


    .offer-paragraph p {
        font-size: 90%;
    }

    .contact-elements form .contact-input-box {
        padding: 0px 0px 0px 0px;
    }

    .contact-elements form .contact-textarea-field {
        padding: 0px 4px 0px 4px;
    }

    .contact-button-text {
        border-radius: 8px;
        font-size: 14px;
    }

    .footer-paragraph p, .footer-paragraph a {
        font-size: 12px;
    }
}

@media (max-width: 520px) {
    html {
        font-size: 50%;
    }

    .portfolio-elements {
        grid-template-columns: 1fr 1fr;
    }

    .about-elements {
        flex-direction: column;
        align-items: center;
    }

    .about-boxes {
        position: relative;
    }

    .about-box .about-title, .about-box .about-paragraph {
        padding-left: 0;
        padding-right: 0;
    }

    .about-box img {
        width: 16rem;

    }

    .offer-boxes {
        height: 40rem;
    }

    .page-button.arrow-height {
        top: 15rem;
    }

    .contactForm-title {
        padding: 0px;
    }

    .contact-elements form .contact-input-box {
        /*width: 100%;*/
        flex-direction: column;
    }

    .contact-elements form .contact-input-box .contact-input-field {
        width: 99%;
    }

    .contact-elements form .contact-textarea-field {
        padding: 0px 0px 0px 4px;
        height: 18rem;
    }

    .contact-elements form .contact-input-box .contact-input-field input,
    .contact-elements form .contact-textarea-field textarea {
        font-size: 1.8rem;
    }

    .footer-class .footer-element {
        flex-direction: column;
    }

}

@media (max-width: 495px) {

}